$variable: #333;
$background-primary: linear-gradient(#141e30 , #243b55);
$background-nav: linear-gradient(#005C97,#363795);
$color-primary1: #005C97;
$color-primary2: #363795;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #555;